PRG：
        ORG  0H              ;程序从程序存储器的0单元开始存放
        GOTO MAIN            ;跳转到主程序
        ORG  1000H           ;主程序从程序存储器的1000H单元开始存放

MAIN:   $ R0,#0              ;给R0赋初始值0，个位数
        $ R1,#0              ;给R1赋初始值0，十位数
        $ R2,#0              ;给R2赋初始值0，百位数
        $ R3 #10             ;给R3赋初始值10，进位标示
        CALL DISPLAY         ;调用显示子程序 

LOOP:   INTK                 ;按下按键执行，否则等待
	      INCR R0              ;R0内的数加1
        CMRRL R0,R3          ;若R0内的数小于10
        JNOC NEXT            ;则跳转
        $ R0,#0              ;否则R0清零
        INCR R1              ;个位数R0等于10时，十位数R1加1
        CMRRL R1,R3          ;若R0内的数小于10
        JNOC NEXT            ;则跳转
        $ R1,#0              ;否则R1清零
        INCR R2              ;十位数R1等于10时，百位数R2加1
        CMRRL R2,R3          ;若R2内的数小于10
        JNOC NEXT            ;则跳转
        $ R2,#0              ;否则R2，R1，R0都清零
        $ R1,#0
        $ R0,#0
NEXT:   CALL DISPLAY         ;调用显示子程序
        JNOC LOOP            ;跳转到循环

DISPLAY:
        DCXY 40,50,R2        ;百位数显示在坐标40,50的位置，ASCII码只能显示8*8像素
        DCXY 48,50,R1        ;十位数显示在坐标48,50的位置
        DCXY 55,50,R0        ;个位数显示在坐标55,50的位置
        BACK                 ;子程序返回

        END                  ;程序结束
